<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdPbsKAEcID9IbuhTU7LIISRcb7OgOD1o</string>
	<key>GCM_SENDER_ID</key>
	<string>200431806661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>morduzas.idlebiz</string>
	<key>PROJECT_ID</key>
	<string>idlebiz</string>
	<key>STORAGE_BUCKET</key>
	<string>idlebiz.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200431806661:ios:76bfd3decda2e22507a8ac</string>
</dict>
</plist>